*.log
*.o
*.tar.gz
*.trs
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.log
config.status
configure
debian/*.log
debian/*.substvars
debian/files
ssh-adverb
stamp-h1
